*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: wheat;
    display: grid;
    place-content: center;
}

#main {
    width: 300px;
    background: white;
    padding: 30px;
    border-radius: 5px;
}

#image {
    width: 100%;
    border-radius: 5px;
}

#main button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}